<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Forum Project Admin Portal</title>
</head>
<body>

<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></h3></li>
    <li><h3><a th:href="@{/auth/logout}" href="#">Logout</a></h3></li>
</ul>
<h2 th:text="#{admin.welcome}">Welcome Admin (design)!</h2>
<h2 th:text="${session.currentUser}"></h2>

</body>
</html>