<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Category</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>

<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" th:href="@{/categories}" role="button">Show all</a>
    <a class="btn btn-primary" th:href="@{__${#httpServletRequest.requestURI}__/update}" role="button">Update </a>
    <a class="btn btn-primary" th:href="@{__${#httpServletRequest.requestURI}__/delete}" role="button">Delete </a>

  <h3 th:text="${category.getName()}">Category</h3>
  <tr th:each="post : ${category.getPosts()}">
      <td><a href="#" th:href="@{/posts/{id}(id=${post.getTitle()})}" th:text="${post.title}">Post Name</a></td>
  </tr>
</div>
</body>
</html>