 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" th:href="@{/}" role="button">Home</a>
    <a class="btn btn-primary" th:href="@{/categories}" role="button">Show all</a>
<h3>Edit Category</h3>

<form th:replace="category-new.html :: category-form"></form>
</body>
</html>