<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Category</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>

<div class="d-grid gap-2 d-md-block">
<a class="btn btn-primary" th:href="@{/categories}" role="button">Show all</a>

<h3> New Category</h3>

<form th:fragment="category-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${category}" method="post">
    <label th:text="#{category.label.name}">Category</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}">Name error placeholder</label>
    <br/> <br/>
    <input type="submit" class="btn btn-primary" value="Save"/>
</form>
</body>
</html>