<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Categories</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>

<div class="d-grid gap-2 d-md-block">
<form action="#" th:action="@{/categories}" method="get" th:object="${filterOptions}">
    <br/>
    <input type="text" class="form-select-s" placeholder="Enter category name" th:field="*{name}"/>

    <select class="form-select-sm" th:field="*{sortBy}">
        <option value="">SortBy</option>
        <option value="name">Name</option>
    </select>
    <select class="form-select-sm"  th:field="*{sortOrder}">
        <option value="">Sort Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>

    <input type="submit" class="btn btn-primary" value="search"/>

</form>

<div th:if="${categories.isEmpty()}">
    <h2 th:text="#{categories.title.empty}">No Categories</h2>
</div>
<div th:unless="${categories.isEmpty()}">
    <h2 th:text="#{categories.title}">All Categories</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" th:href="@{/categories/new}" role="button">Create a new category </a></div>
    <!--        <div class="table">-->
<!--             <div class="header">-->
<!--                  <div class="cell" th:text="#{category.label.name}">Name</div>-->
<!--                 <div class="cell" th:text="#{category.label.postCount}">PostCount</div>-->
<!--             </div>-->
<!--        <div class="row" th:each="category : ${categories}">-->
<!--            <div class="cell">-->
<!--                <a href="#" th:href="@{/categories/{id}(id=${category.getId()})}" th:text="${category.name}">Category</a>-->
<!--            </div>-->
<!--            <div class="cell" th:text="${category.getPostCount()}">PostCount</div>-->
<!--        </div>-->
<!--        </div>-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Category Name</th>
            <th scope="col">Post Count</th>
            <th scope="col">Post Titles</th>
<!--            <th scope="col">Delete</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td><a href="#" th:href="@{/categories/{id}(id=${category.getId()})}" th:text="${category.name}">Category Name</a></td>
            <td th:text="${category.getPostCount()}">Posts</td>
<!--            <td th:text="${category.getPosts()()}">Post Titles</td>-->
<!--            <td th:each="post : ${category.getPosts()}">Posts</td>-->
<!--                    <td><a href="#" th:href="@{/posts/{id}(id=${post.getTitle()})}" th:text="${post.title}">Post Name</a></td>-->



<!--            <th role="button" th:href="@{/categories/delete}">Delete</th>-->
<!--        <tr th:each="post : ${category.getPosts()}">Posts</tr>-->
<!--        <td><a href="#" th:href="@{/posts/{id}(id=${post.getTitle()})}" th:text="${post.title}">Post Name</a></td>-->
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>