<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
<!--<ul>-->
<!--    <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">View all users</a></h3></li>-->
<!--    <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/login}" href="#">Login</a></h3></li>-->
<!--    <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/register}" href="#">Register</a></h3></li>-->
<!--    <li th:if="${isAuthenticated}"><h3><a th:href="@{/auth/logout}" href="#">Logout</a></h3></li>-->
<!--</ul>-->

<!--<h2 th:text="#{home.welcome}">Welcome (design)!</h2>-->
<!--<h2 th:text="${session.currentUser}" th:if="${isAuthenticated}"></h2>-->

<!--<ul>-->
<!--    <li><h3><a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></h3></li>-->
<!--    <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/login}" href="#">Login</a></h3></li>-->
<!--    <li th:unless="${isAuthenticated}"><h3><a th:href="@{/auth/register}" href="#">Register</a></h3></li>-->
<!--&lt;!&ndash;    <li th:if="${isAuthenticated && session.isAdmin}"><h3><a th:href="@{/admin}" href="#">Admin Portal</a></h3></li>&ndash;&gt;-->
<!--    <li th:if="${isAuthenticated}"><h3><a th:href="@{/auth/logout}" href="#">Logout</a></h3></li>-->
<!--</ul>-->

<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<p style="background-image: url('static/assets/img/BackgroundImage.JPG')"></p>
<br>
<div class="row">

    <div class="col-2">
        <!--<article style="display: table; padding: 20px;">-->
        <div class="card border-primary mb-3">
            <div class="card-header">Users</div>
            <div class="card-body">
                <div th:each="user : ${users}">
                    <td th:if="${isAuthenticated}"><a href="#" th:href="@{/users/{id}(id=${user.getId()})}"
                                                      th:text="${user.getUsername()}">Users</a></td>
                    <td th:unless="${isAuthenticated}"><a th:text="${user.getUsername()}">Users</a></td>
                </div>
            </div>
        </div>
        <!--</article>-->

        <!--<article style="display: table; padding: 20px;">-->
        <div class="card border-primary mb-3">
            <div class="card-header">Tags</div>
            <div class="card-body">
                <div th:each="tag : ${tags}">
                    <td th:if="${isAuthenticated}"><a href="#" th:href="@{/tags/{id}(id=${tag.getId()})}"
                                                      th:text="${tag.getName()}">Tags</a></td>
                    <td th:unless="${isAuthenticated}"><a th:text="${tag.getName()}">Tags</a></td>
                </div>
            </div>
        </div>
    </div>


    <div class="col-7">
<!--<article style="float: left; padding: 20px; width: 70%; height: 300px">-->
    <div th:each="category : ${categories}" class="card bg-light mb-3">
        <div class="card-header" style="font-size: 1.2rem; font-weight: bold" th:text="${category.getName()}">Category Name</div>
        <div class="badge bg-primary" style="margin-left: auto; font-size:1rem" th:text="${category.getPosts().size()}">
            Count
        </div>

        <div style="padding-top: 5px;margin-left: 10px;border-right-width: 10px;">
            <h6>Posts: </h6>
            <div th:each="post : ${category.getPosts()}">
                <td th:if="${isAuthenticated}"><a href="#" th:href="@{/posts/{id}(id=${post.getId()})}"
                                                  th:text="${post.title}">Post Name</a></td>
                <td th:unless="${isAuthenticated}"><a th:text="${post.title}">Post Name</a></td>
                <div th:if="${isAuthenticated}" th:text="${post.getContent()}"></div>
                <br>
            </div>
            <br>
<!--            <h4 th:if="${isAuthenticated}">Contents: </h4>-->
<!--            <div th:if="${isAuthenticated}" class="card-text" th:each="post : ${category.getPosts()}">-->
<!--                <span><a href="#" th:href="@{/posts/{id}(id=${post.getContent()})}" th:text="${post.content}">Post Content</a></span>-->
<!--            </div>-->
        </div>

    </div>
</div>
<!--</article>-->

<!--</article>-->
    <div class="col-3">
<!--<article style="display: table; padding: 20px;">-->
    <div class="card border-primary mb-3">
        <div class="card-header">Latest Ten Posts</div>
        <div class="card-body">
            <div th:each="post : ${latestTen}">
                <td th:if="${isAuthenticated}"><a href="#" th:href="@{/posts/latest}" th:text="${post.getTitle()}">Latest Ten Posts</a></td>
                <td th:unless="${isAuthenticated}"><a th:text="${post.getTitle()}">Show Latest Ten Posts</a></td>
                <!--                <td><a th:text="${latestTen}">Posts</a></td>-->
            </div>
        </div>
    </div>
<!--</article>-->

<!--<article style="display: table; padding: 20px;">-->
    <div class="card border-primary mb-3">
        <div class="card-header">Top Ten Posts</div>
        <div class="card-body">
            <div th:each="post : ${topTen}">
                <td th:if="${isAuthenticated}"><a href="#" th:href="@{/posts/mostLiked}" th:text="${post.getTitle()}">Top TentPosts</a></td>
                <td th:unless="${isAuthenticated}"><a th:text="${post.getTitle()}">Show Top Ten Posts</a></td>
                <!--                                <td><a th:text="${topTen}">Posts</a></td>-->
            </div>
        </div>
    </div>
<!--</article>-->

<!--<article style="display: table; padding: 20px;">-->
    <div class="card border-primary mb-3">
        <div class="card-header">Hottest Ten Posts</div>
        <div class="card-body">
            <div th:each="post : ${hottestTen}">
                <td th:if="${isAuthenticated}"><a href="#" th:href="@{/posts/hottest}" th:text="${post.getTitle()}">Hottest Ten Posts</a></td>
                <td th:unless="${isAuthenticated}"><a th:text="${post.getTitle()}">Show Hottest Ten Posts</a></td>
                <!--                <td><a th:text="${latestTen}">Posts</a></td>-->
            </div>
        </div>
    </div>
    </div>
</div>
    <footer id="footer">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-7">
                <ul class="list-unstyled">
                    <li class="float-end"><a href="#top">Back to top</a></li>
                    <li><a href="https://blog.bootswatch.com/">Blog</a></li>
                    <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                    <li><a href="https://github.com/thomaspark/bootswatch">GitHub</a></li>
                </ul>
                <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
                <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

            </div>
        </div>
    </footer>
</div>

<!--</article>-->

</body>
</html>

<!--<div th:each="category : ${categories}" class="card border-primary mb-3" style="max-width: 50rem;">-->
<!--    <div class="card-header" th:text="${category.getName()}">Category Name</div>-->
<!--    <div class="card-body">-->
<!--        <h4 class="card-title" >Posts: </h4>-->
<!--        <div th:each="post : ${category.getPosts()}">-->
<!--            <td><a href="#" th:href="@{/posts/{id}(id=${post.getTitle()})}" th:text="${post.title}">Post Name</a></td>-->
<!--        </div>-->
<!--        <p th:if="${isAuthenticated}" class="card-text">Contents: </p>-->
<!--        <div th:each="post : ${category.getPosts()}">-->
<!--            <span><a href="#" th:href="@{/posts/{id}(id=${post.getContent()})}" th:text="${post.content}">Post Content</a></span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

