<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/></head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<h2>Login</h2>

<form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">

  <div th:class="col-3">
  <label th:class="form-label" th:text="#{user.label.username}">Username</label>
  <br/>
  <input th:class="form-control" type="text" th:field="*{username}"/>
  <label class="error" th:errors="*{username}">Username error placeholder</label>
  <br/>

  <label th:class="form-label" th:text="#{user.label.password}">Password</label>
  <br/>
  <input th:class="form-control" type="password" th:field="*{password}"/>
  <label th:errors="*{password}">Password error placeholder</label>
  <br/>

  <input class="btn btn-primary" type="submit" value="Login"/>
  </div>
</form>
</body>
</html>
