<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Team 12 Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{/}" th:text="Home" class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/posts}" th:text="Posts" href="#">Posts</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/users}" th:text="Users" href="#">Posts</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/categories}" th:text="Categories" href="#">Categories</a>
                </li>

            </ul>
            <form class="d-flex" th:unless="${isAuthenticated}">
                <a class="btn btn-outline-success" style="margin-right: 5px" href="/auth/login" th:href="@{/auth/login}">Login</a>
                <a class="btn btn-outline-success" href="/auth/register" th:href="@{/auth/register}">Register</a>
            </form>
            <form class="d-flex" th:if="${isAuthenticated}">
<!--                <a class="btn btn-outline-success" style="margin-right: 5px" href="/users/myProfile" th:href="@{/users/__${user.getId()}__/edit}">My Profile</a>-->
                <a class="btn btn-outline-success" href="/auth/logout" th:href="@{/auth/logout}">Logout</a>
            </form>
        </div>
    </div>
</nav>
</body>
</html>