<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Not Found</title>
</head>
<body>
    <ul>
        <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
        <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Users</a></h3></li>
    </ul>

    <h2 th:text="#{error.not-found}">Page Not Found.</h2>
    <h3 class="error" th:text="${error}">Error</h3>
</body>
</html>