<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link href="../static/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<style>
    body {
        background-color: lightgreen;
    }
</style>
<body>

<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<br>
<ul>
    <li><h3><a  href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all posts</a></h3></li>
</ul>

<h2>New Post</h2>

<form th:replace="post-form.html :: post-form"></form>
</body>
</html>