<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All posts</title>
    <link href="../static/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<style>
    body {
        background-color: lightgreen;
    }
</style>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<p style="background-image: url('static/assets/img/BackgroundImage.JPG')"></p>
<br>

<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li th:if="${isAuthenticated}"><h3><a href="#" th:href="@{/posts/new}" th:text="#{navigation.create-post}">Create a new post</a></h3></li>
</ul>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="get" th:object="${filterOptionsPosts}">
    <label th:text="#{posts.filter.label}">Filter Options</label>
    <br/><br/>
<!--    <input type="text" placeholder="Post title" th:field="*{title}" />-->
    <input type="text" placeholder="keyword" th:field="*{keyword}" />
    <input type="text" placeholder="CreatedBy Username" th:field="*{createdByUsername}" />
<!--    <input type="datetime-local" placeholder="Creation Time" th:field="*{creationTime}" />-->
    <select th:field="*{categoryId}">
        <option value="">Any Category</option>
        <option th:each="category : ${categories}"
                th:value="${category.getId()}"
                th:text="${category.getName()}">
            PostCategoryOne
        </option>
    </select>
    <select th:field="*{sortBy}">
        <option value="">Sort By</option>
<!--        <option value="title">Title</option>-->
        <option value="keyword">Keyword</option>
        <option value="category.name">Category</option>
        <option value="createdByUsername">CreatedBy Username</option>
        <option value="creationTime">Creation Time</option>
    </select>
    <select th:field="*{sortOrder}">
        <option value="">Sort Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <br/><br/>

    <input type="submit" value="Search"/>
    <br/><br/>
    <br/><br/>
</form>
<div th:if="${posts.isEmpty()}">
    <h2 th:text="#{posts.title.empty}">No Posts to Show</h2>
</div>
<div th:unless="${posts.isEmpty()}">
    <h2 th:text="#{posts.title}">All Posts</h2>
    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{post.label.title}">Title</div>
            <div class="cell" th:text="#{post.label.content}">Content</div>
            <div class="cell" th:text="#{post.label.category}">Category</div>
            <div class="cell" th:text="#{post.label.createdBy}">createdBy</div>
            <div class="cell" th:text="#{post.label.creationTime}">creationTime</div>
        </div>
        <div class="row" th:each="post : ${posts}">
            <div class="cell">
                <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}" th:text="${post.title}">Post</a>
            </div>
            <div class="cell" th:text="${post.content}">Who will play in the finals?</div>
            <div class="cell" th:text="${post.category.name}">Category</div>
            <div class="cell" th:text="${post.createdBy.username}">createdBy Username</div>
            <div class="cell" th:text="${post.creationTime}">Creation Time</div>
        </div>

    </div>
</div>


</body>
</html>