<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Single Post</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<!--class="modal-open" style="overflow: hidden; padding-right: 17px"-->
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<br>
<div class="card mb-3">
    <div class="card text-white bg-dark mb-3">
        <div class="d-flex w-100 justify-content-between">
        <h6 class="text-primary" style="padding-left: 15px; padding-top: 5px;" th:text="${post.getCategoryName()}">Category name</h6>
            <h6 class="text-primary" style="padding-right: 15px; padding-top: 5px;"th:text="${post.getLikesCount()}">Count</h6>
        </div>
        <div class="d-flex w-100 justify-content-between">
    <h2 class="card-header" style="font-size: 1.4rem; font-weight: bold; padding-top: 15px;padding-bottom: 15px; border-bottom-width: 0px; background-color: rgb(0 0 0 / 0%)"
        th:text="${post.getTitle()}">Post Title</h2>
          <div class="mb-1">
            <div th:unless="${currentUser.hasLikeInLikedPostsList(post.postId)}">
                <a class="btn bg-info" style="padding-top: 3px; padding-bottom: 3px; padding-left: 10px; margin-top: 10px;margin-right: 10px;"
                   th:href="@{__${#httpServletRequest.requestURI}__/toggle-like}" role="button">Like</a>
            </div>
            <div  th:if="${currentUser.hasLikeInLikedPostsList(post.postId)}">
                <a class="btn btn-danger" style="padding-top: 3px; padding-bottom: 3px; padding-left: 10px; margin-top: 10px;margin-right: 10px;"
                   th:href="@{__${#httpServletRequest.requestURI}__/toggle-like}" role="button">Unlike</a>
            </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1" style="padding-left: 16px; color: #1a2530" th:text="${post.getCreatedByUsername()}">Username</h6>
        <small style="color: #1a2530;" th:text="${post.getCreationTime()}">Creation Date</small>
        </div>
    </div>
    <div class="card-body">
        <br>
        <div class="d-flex w-100 justify-content-between">
            <div class="mb-1" >
                <p class="text-secondary" style="margin-bottom: 0px";>Modify Post</p>
                <a class="btn btn-success" style="padding-top: 3px; padding-bottom: 3px; padding-left: 10px; margin-top: 0px;margin-right: 10px;" th:href="@{__${#httpServletRequest.requestURI}__/update}" role="button">Edit</a>
                <a class="btn btn-danger" style="padding-top: 3px; padding-bottom: 3px; padding-left: 10px; margin-top: 0px;margin-right: 10px;" th:href="@{__${#httpServletRequest.requestURI}__/delete}" role="button">Delete</a>
            </div>
        <div class="card border-dark mb-3" style="max-width: 20rem;">
            <div class="card-header" style="border-bottom-style: solid;border-bottom-width: 1px;border-top-style: solid;
            padding-top: 0px;padding-bottom: 0px;margin-bottom: 5px; padding-right: 0px;">Tag Clouds
<!--                <button class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code"></i></button>-->
                <a href="#" class="card-link" style="padding-right: 0px;padding-left: 65px;">Add tag</a>
                <a href="#" class="card-link" style="margin-right: 0px;border-right-style: solid;border-right-width: 0px;margin-left: 10px;">Remove tag</a>
            </div>
        <div class="bs-component md-4" style="border-top-style: solid;padding-top: 10px;
        border-top-width: 0px;padding-left: 20px;padding-bottom: 10px;">
        <span th:each="tag : ${post.getPostTags()}">
           <span data-th-href="@{/tags/{id}(id=${tag.getId()})}" class="badge bg-warning" th:text="${tag.getName()}">
           </span>
        </span>
        </div>
        </div>
        </div>
        <br>

           <h5 class="card-title" th:text="${post.getContent()}">Post Content</h5>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <h5>Comments</h5>
        </div>
    </div>
    <div class="list-group" th:each="reply : ${post.getReplies()}">
        <a class="list-group-item list-group-item-action flex-column align-items-start" style="margin-bottom: 30px;">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1" th:text="${reply.getUser()}">Author</h6>
                <small th:text="${reply.getCreationTime()}">Creation Time</small>
            </div>
            <h5 class="mb-1" th:text="${reply.getContent()}">Reply Content</h5>
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Comment</h4>
        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/replies/new}" method="post" th:object="${reply}">
            <textarea type="text" th:field="*{content}" class="form-select-s" placeholder="Enter new comment" style=" width:84%; height:64px"/></textarea>
            <label class="error" th:errors="*{content}">Content error placeholder</label>
            <br>
            <input type="submit" class="btn btn-success" value="Add"/>
        </form>
        </div>
</div>

<!--<div id="source-modal" class="modal fade show" tabindex="-1" style="display: block; padding-left: 0px;" aria-modal="true" role="dialog">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h4 class="modal-title">Source Code</h4>-->
<!--                <button type="button" class="btn btn-primary btn-copy"><i class="bi bi-clipboard"></i> Copy Code</button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <h4>Foother</h4>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<br>
<footer id="footer">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li class="float-end"><a href="#top">Back to top</a></li>
                <li><a href="https://blog.bootswatch.com/">Blog</a></li>
                <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                <li><a href="https://github.com/thomaspark/bootswatch">GitHub</a></li>
            </ul>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

        </div>
    </div>
</footer>


<!--<script src="../_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="../_vendor/prismjs/prism.js" data-manual=""></script>-->
<!--<script src="../_assets/js/custom.js"></script>-->
<!--<div class="modal-backdrop fade show"></div>-->
</body>
</html>