<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Form Fragment</title>
    <link href="../static/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<style>

</style>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<br>
<form th:fragment="post-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${post}" method="post">
    <label th:text="#{post.label.title}">Post</label>
    <br/>
    <input type="text" th:field="*{title}"/>
    <label class="error" th:errors="*{title}">Title error placeholder</label>
    <br/><br/>

    <label th:text="#{post.label.content}">Content</label>
    <br/>
    <input type="text" th:field="*{content}"/>
    <label class="error" th:errors="*{content}">Content error placeholder</label>
    <br/><br/>

    <label th:text="#{post.label.category}">Category</label>
    <br/>
    <select th:field="*{categoryId}">
        <option th:each="category : ${categories}"
                th:value="${category.getId()}"
                th:text="${category.getName()}">
            PostCategoryOne
        </option>
    </select>
    <label class="error" th:errors="*{categoryId}">Category error placeholder</label>
    <br/><br/>

    <label th:text="#{post.label.createdBy}">CreatedBy</label>
    <br/>
    <select th:field="*{createdById}">
        <option th:each="user : ${users}"
                th:value="${user.getId()}"
                th:text="${user.getUsername()}">
            PostCreatedByOne
        </option>
    </select>
    <label class="error" th:errors="*{createdById}">CreatedBy error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>

</body>
</html>