<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<h2>Register</h2>

<form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
    <div th:class="col-3">
        <label th:class="form-label" th:text="#{user.label.username}">Username</label>
        <br/>
        <input th:class="form-control" type="text" th:field="*{username}"/>
        <label th:class="form-label" class="error" th:errors="*{username}">Username error placeholder</label>
        <br/>

        <label th:class="form-label" th:text="#{user.label.password}">Password</label>
        <br/>
        <input th:class="form-control" type="password" th:field="*{password}"/>
        <label th:class="form-label" class="error" th:errors="*{password}">Password error placeholder</label>
        <br/>

        <label th:class="form-label" th:text="#{user.label.password-confirm}">Confirm Password</label>
        <br/>
        <input th:class="form-control" type="password" th:field="*{passwordConfirm}"/>
        <label th:class="form-label" class="error" th:errors="*{passwordConfirm}">Password confirm error
            placeholder</label>
        <br/>

        <label th:class="form-label" th:text="#{user.label.firstName}">First Name</label>
        <br/>
        <input th:class="form-control" type="text" th:field="*{firstName}"/>
        <label th:class="form-label" class="error" th:errors="*{firstName}">First name error placeholder</label>
        <br/><br/>

        <label th:class="form-label" th:text="#{user.label.lastName}">Last Name</label>
        <br/>
        <input th:class="form-control" type="text" th:field="*{lastName}"/>
        <label th:class="form-label" class="error" th:errors="*{lastName}">Last name error placeholder</label>
        <br/>

        <label th:class="form-label" th:text="#{user.label.email}">Email</label>
        <br/>
        <input th:class="form-control" type="text" th:field="*{email}"/>
        <label th:class="form-label" class="error" th:errors="*{email}">Email error placeholder</label>
        <br/>

        <input class="btn btn-primary" type="submit" value="Register"/>
    </div>
</form>
</body>
</html>
