<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Reply</title>
  <link href="../static/css/old-styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h2>Edit Reply</h2>

<form th:replace="reply-new.html :: reply-form"></form>
</body>
</html>