<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Replies</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>

<div class="d-grid gap-2 d-md-block">
    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="get" th:object="${filterOptions}">
        <br/>
        <input type="text" class="form-select-s" placeholder="Enter reply content" th:field="*{content}"/>
        <input type="text" class="form-select-s" placeholder="Enter reply username" th:field="*{createdBy}"/>


        <select class="form-select-sm" th:field="*{sortBy}">
            <option value="">SortBy</option>
            <option value="content">Content</option>
        </select>
        <select class="form-select-sm"  th:field="*{sortOrder}">
            <option value="">Sort Order</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <input type="submit" class="btn btn-primary" value="search"/>
    </form>

    <div th:if="${replies.isEmpty()}">
        <h2 th:text="#{replies.title.empty}">No Replies</h2>
    </div>
    <div th:unless="${replies.isEmpty()}">
        <h2 th:text="#{replies.title}">All Replies</h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Content</th>
                <th scope="col">CreatedBy</th>
                <th scope="col">Date</th>
<!--                <th scope="col">CreationTime</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="reply : ${replies}">
                <td><a href="#" th:href="@{__${#httpServletRequest.requestURI}__/{id}(id=${reply.getId()})}" th:text="${reply.content}">Content</a></td>
                <td th:text="${reply.getCreatedBy().getUsername()}">CreatedBy</td>
                <td th:text="${reply.getCreationTime()}">Date</td>
<!--                <td class="cell" th:text="${reply.getCreationTime()}">02.07.2022</td>-->

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>All Replies</title>-->
<!--    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>-->
<!--</head>-->
<!--<body>-->

<!--<div class="d-grid gap-2 d-md-block">-->
<!--    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" method="get" th:object="${filterOptions}">-->
<!--        <br/>-->
<!--        <input type="text" class="form-select-s" placeholder="Enter reply content" th:field="*{content}"/>-->

<!--        <select class="form-select-sm" th:field="*{sortBy}">-->
<!--            <option value="">SortBy</option>-->
<!--            <option value="name">Content</option>-->
<!--        </select>-->
<!--        <select class="form-select-sm"  th:field="*{sortOrder}">-->
<!--            <option value="">Sort Order</option>-->
<!--            <option value="asc">Ascending</option>-->
<!--            <option value="desc">Descending</option>-->
<!--        </select>-->

<!--        <input type="submit" class="btn btn-primary" value="search"/>-->

<!--    </form>-->
<!--<div th:if="${replies.isEmpty()}">-->
<!--    <h2 th:text="#{replies.title.empty}">No Replies</h2>-->
<!--</div>-->
<!--<div th:unless="${replies.isEmpty()}">-->
<!--    <h2 th:text="#{replies.title}">All Replies</h2>-->

<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">Content</th>-->
<!--            <th scope="col">CreationTime</th>-->

<!--    <div class="table">-->
<!--        <div class="header">-->
<!--            <div class="cell" th:text="reply.label.content">Content</div>-->
<!--            </div>-->
<!--        <div class="row" th:each="reply : ${replies}">-->
<!--            <div class="cell">-->
<!--                <a href="#" th:href="@{/replies/{id}(id=${reply.getId()})}" th:text="${reply.content}">Reply</a>-->
<!--            </div>-->
<!--            <div class="cell" th:text="${reply.creationTime}">02.07.2022</div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->