<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Reply</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h2> New Reply</h2>

<form th:fragment="reply-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${reply}" method="post">
    <label th:text="#{reply.label.content}">Reply</label>
    <br/>
    <input type="text" th:field="*{content}"/>
    <label class="error" th:errors="*{content}">Content error placeholder</label>
    <br/> <br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>