<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Reply</title>
Ad    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>

<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" th:href="@{/replies}" role="button">Show all</a>
    <a class="btn btn-primary" th:href="@{__${#httpServletRequest.requestURI}__/update}" role="button">Update </a>
    <a class="btn btn-primary" th:href="@{__${#httpServletRequest.requestURI}__/delete}" role="button">Delete </a>

<h2 th:text="${reply.getContent()}">Reply Content</h2>
<h3 th:text="${reply.getCreatedBy().getUsername()}">CreatedBy</h3>
<h3 th:text="${reply.getCreationTime()}">CreationTime</h3>

</body>
</html>