<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Tag</title>
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>

<h2>New Tag</h2>

<form th:replace="TagForm.html :: tag-form"></form>
</body>
</html>
