<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag Form Fragment</title>
</head>
<body>
<form th:fragment="tag-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${tag}" method="post">
    <div th:class="col-3">
        <label th:class="form-label" th:text="#{tag.label.name}">First Name</label>
        <br/>
        <input th:class="form-control" type="text" th:field="*{name}"/>
        <label th:class="form-label" class="error" th:errors="*{name}">First Name error placeholder</label>
        <br/>

        <input class="btn btn-primary" type="submit" value="Save"/>
    </div>
</form>
</body>
</html>
