<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tags</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>

<div class="d-grid gap-2 d-md-block">
<form action="#" th:action="@{/tags}" method="get" th:object="${filterOptions}">
    <br/>
    <input type="text" class="form-select-s" placeholder="Enter tag name" th:field="*{name}"/>

    <select class="form-select-sm" th:field="*{sortBy}">
    <option value="">SortBy</option>
    <option value="name">Tags</option>
    </select>
    <select class="form-select-sm"  th:field="*{sortOrder}">
        <option value="">Sort Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>

    <input type="submit" class="btn btn-primary" value="search"/>
</form>
    <div th:if="${tags.isEmpty()}">
        <h2 th:text="#{tags.title.empty}">No Tags</h2>
    </div>
    <div th:unless="${tags.isEmpty()}">
        <h2 th:text="#{tags.title}">All Tags</h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tag Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag : ${tags}">
                <td><a href="#" th:href="@{/tags/{id}(id=${tag.getId()})}" th:text="${tag.name}">Tag Name</a></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>