<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Upload Status</title>
</head>
<body>
<h3>File Uploaded Successfully.</h3>
<a href="#" th:href="@{/users}">Return to users</a>

</body>
</html>