<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>
<div th:if="${users.isEmpty()}">
    <h2 th:text="#{users.title.empty}">No Users</h2>
</div>
<div th:unless="${users.isEmpty()}">
    <h2 th:text="#{users.title}">All Users</h2>
    <br><br>

    <form action="#" th:action="@{/users}" method="get" th:object="${filterOptions}">
        <label th:class="form-label" th:text="#{user.label.search}">Filter Options</label>
        <br/><br/>
        <div th:class="row">
            <div th:class="col-2">
                <input th:class="form-control" type="text" placeholder="First Name" th:field="*{firstName}"/>
            </div>
            <div th:class="col-2">
                <input th:class="form-control" type="text" placeholder="Last Name" th:field="*{lastName}"/>
            </div>
            <div th:class="col-2">
                <input th:class="form-control" type="text" placeholder="Email" th:field="*{username}"/>
            </div>

            <!--        <select th:field="*{styleId}">-->
            <!--            <option value="">Any Style</option>-->
            <!--            <option th:each="style : ${styles}"-->
            <!--                    th:value="${style.getId()}"-->
            <!--                    th:text="${style.getName()}">-->
            <!--                BeerStyleOne-->
            <!--            </option>-->
            <!--        </select>-->
            <div th:class="col-2">
                <select class="form-select" th:field="*{sortBy}">
                    <option value="">Sort By</option>

                    <option value="firstName">First Name</option>
                    <option value="lastName">Last Name</option>
                    <option value="username">Username</option>
                </select>
            </div>
            <div th:class="col-2">
                <select class="form-select" th:field="*{sortOrder}">
                    <option value="">Sort Order</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>

            <br/><br/>
            <div th:class="col-1">
                <input class="btn btn-primary" type="submit" value="Search"/>
            </div>
        </div>
    </form>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" th:href="@{/users/new}"
                                                                  role="button">Add New</a></div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.firstName}">First Name</a></td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">Email</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>