<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>User</title>
</head>
<body>
<nav th:replace="Nav-Bar.html :: nav-bar"></nav>

<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" th:href="@{/}" role="button">Home</a>
    <a class="btn btn-primary" th:href="@{/users}" role="button">Show all</a>
</div>
<br/>

<table class="table">
    <thead>
    <tr>
        <th scope="col" th:text="${user.firstName}">User</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.lastName}">Last Name</td>
    </tr>
    <tr>
        <td th:text="${user.username}">Username</td>
    </tr>
    <tr>
        <td th:text="${user.email}">Email Address</td>
    </tr>
    </tbody>
</table>
<br/>
<div th:if="${isAdmin}" class="d-grid gap-2 d-md-block">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <input type="submit" value="Upload Files">
        <input type="hidden" th:value="${user.getId()}"
    </form>
    <br/>
    <a class="btn btn-success" th:href="@{/users/__${userId}__/edit}" role="button">Edit</a>
    <a class="btn btn-danger" th:href="@{/users/__${userId}__/delete}" role="button">Delete</a>
</div>

</body>
</html>