<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form Fragment</title>
</head>
<body>
<form th:fragment="user-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" method="post">
    <div th:class="col-3">
    <label th:class="form-label" th:text="#{user.label.firstName}">First Name</label>
    <br/>
    <input th:class="form-control" type="text" th:field="*{firstName}"/>
    <label th:class="form-label" class="error" th:errors="*{firstName}">First Name error placeholder</label>
    <br/>

    <label th:class="form-label" th:text="#{user.label.lastName}">Last Name</label>
    <br/>
    <input th:class="form-control" type="text" th:field="*{lastName}"/>
    <label th:class="form-label" class="error" th:errors="*{lastName}">Last Name error placeholder</label>
    <br/>

    <label th:class="form-label" th:text="#{user.label.username}">Username</label>
    <br/>
    <input th:class="form-control" type="text" th:field="*{username}"/>
    <label th:class="form-label" class="error" th:errors="*{username}">Username error placeholder</label>
    <br/>

    <label th:class="form-label" th:text="#{user.label.email}">Email Address</label>
    <br/>
    <input th:class="form-control" type="text" th:field="*{email}"/>
    <label th:class="form-label" class="error" th:errors="*{email}">Email Address error placeholder</label>
    <br/>

    <input class="btn btn-primary" type="submit" value="Save"/>
    </div>
</form>
</body>
</html>
